.choose-section{

left: 268px;
top: 275px;

background: rgba(118, 0, 255, 0.04);
border: 1px solid rgba(136, 45, 241, 0.06);
border-radius: 16px;
}
.choose-header{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;

/* identical to box height, or 188% */

color: #101828;


}
.res-food-choose{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15.124px;
line-height: 10px;

/* identical to box height */

color: #FFFFFF;
}
.res-food-des-choose{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.109px;
line-height: 9px;

/* identical to box height */

color: #FFFFFF;
}